{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Вход</h3>
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Войти" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
	<p>Если у вас еще нет аккаунта, вы можете создать его <a href="{% url 'signup' %}">здесь</a>.</p>
</main>
{% endblock %}